/**
 * @name Discord+ (Source)
 * @author PlusInsta
 * @authorId 309931975102300160
 * @authorLink https://plusinsta.xyz
 * @version 3.2.1
 * @description For development of the theme. Enable alongside plugins and extras for local editing.
 * @donate https://ko-fi.com/plusinsta
 * @website https://plusinsta.github.io/discord-plus
 * @source https://github.com/PlusInsta/discord-plus
 * @updateUrl https://plusinsta.github.io/discord-plus/src/DiscordPlus-source.theme.css
 * @invite 2Jwh2nS
*/
/* 
    ██████████████████████████████████████████████████████████████████████████████████
    █▄─▄▄▀█▄─▄█─▄▄▄▄█─▄▄▄─█─▄▄─█▄─▄▄▀█▄─▄▄▀███░███─▄▄▄▄█─▄▄─█▄─██─▄█▄─▄▄▀█─▄▄▄─█▄─▄▄─█
    ██─██─██─██▄▄▄▄─█─███▀█─██─██─▄─▄██─██─█▄▄░▄▄█▄▄▄▄─█─██─██─██─███─▄─▄█─███▀██─▄█▀█
    █▄▄▄▄██▄▄▄█▄▄▄▄▄█▄▄▄▄▄█▄▄▄▄█▄▄█▄▄█▄▄▄▄████▄███▄▄▄▄▄█▄▄▄▄██▄▄▄▄██▄▄█▄▄█▄▄▄▄▄█▄▄▄▄▄█
    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
            Table of Contents
    1 Imports
    2 Default Values
    3 Background
        	3.1 Image
    	   		3.1.1 Transparent Mode / Light Mode Specifics
        	3.2 Margins
    4 Fonts
    	    4.1 Display Font
        	4.2 Text Font
        	4.3 Names, Titles, and Headers Font
    5 Load/Disconnect + Crash 
    6 Scrollerbars
    7 Modals
        	7.1 General Modal
        	7.2 Server Create/Join Modal
        	7.3 Custom Status Modal
        	7.4 Quick Switcher Modal
        	7.5 Keyboard Combo Modal
        	7.6 Upload Modal
        	7.7 Profile Modal
    8 Popouts
        	8.1 General Popout
        	8.2 Pins Popout
    		8.3 Context Menu Popout
			8.4 Inbox
        	8.5 Profile Popout
	9 Titlebar
			9.1 General Titlebar
			9.2 Mac OS Buttons
	10 Guild List
			10.1 Background + Servers
			10.2 Home Icon
	11 Channels Sidebar
			11.1 General Sidebar
			11.2 DMs Sidebar
			11.3 Server Sidebar
	12 Main Content
			12.1 General Main Content
			12.2 Friends List
			12.3 Library/Nitro Tab
			12.4 Chat
				12.4.1 Message Seperation
				12.4.2 Pings
				12.4.3 Timestamps
				12.4.4 Embeds/Attachments
    			12.4.5 Message Box
				12.4.6 Search Function
				12.4.7 Calling
			12.5 Explore Public Servers
			12.6 Members List
			12.7 Server Boost
	13 Avatars
	14 Settings
	15 Client Mod Specifics
			15.1 BetterDiscord
				15.1.1 Addon Lists
				15.1.2 Toast Notifications	
*/

        /*--- 1 imports ---*/
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-plugins.theme.css');
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-extras.theme.css');
/* Main fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous);
/* Localized fonts */
@import url(https://fonts.googleapis.com/css2?family=Kosugi&family=RocknRoll+One&family=Gothic+A1&family=Black+Han+Sans&family=PT+Sans+Caption&family=Russo+One&family=Palanquin+Dark&family=Raleway:wght@500&family=Commissioner&family=Alegreya+Sans:wght@700&family=Mitr&family=Lalezar&display=swap);
        
      /*--- 2 Default Values ---*/

.theme-dark {
	--dplus-backdrop: url(https://i.imgur.com/3AiL3yN.png);
	
	--dplus-accent-color-hue: 320;
	--dplus-accent-color-saturation: 60%;
	--dplus-accent-color-lightness: 31%;
	
	--dplus-foreground-color-hue-base: 210; /* based on vanilla --text-normal hue */
	--dplus-foreground-color-hue-links: 197;
	--dplus-foreground-color-saturation-amount: 1;
	--dplus-foreground-color-lightness-amount: 1;
	
	--dplus-background-color-hue: 320;
	--dplus-background-color-saturation-amount: 1;
	--dplus-background-color-lightness-amount: 1;
	--dplus-background-color-alpha: 0.8;
}

.theme-dark {
	--dplus-background-color-lightness-025: 2.5%;
	--dplus-background-color-lightness-050: 5.0%;
	--dplus-background-color-lightness-075: 7.5%;
	--dplus-background-color-lightness-100: 10.0%;
	--dplus-background-color-lightness-150: 15.0%;
	--dplus-background-color-lightness-200: 20.0%;
}

.theme-dark, .theme-light {
	--dplus-accent-ui: hsl(
	var(--dplus-accent-color-hue),
	var(--dplus-accent-color-saturation-factor),
	calc(var(--dplus-accent-color-lightness) * 1)
	);
	--dplus-accent-ui-hover: hsl(
	var(--dplus-accent-color-hue),
	calc(var(--dplus-accent-color-saturation-factor) * 1.1),
	calc(var(--dplus-accent-color-lightness) / 1.5)
	);
	
	--dplus-accent-color-saturation-factor: calc(var(--dplus-accent-color-saturation) * var(--saturation-factor, 1));
	--dplus-foreground-color-saturation-factor: calc(var(--dplus-foreground-color-saturation-amount, 1) * var(--saturation-factor, 1));
	--dplus-background-color-saturation-factor: calc(var(--dplus-background-color-saturation-amount, 1) * var(--saturation-factor, 1));
	
	--dplus-bgc-ui-base: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-base-alpha-modifier, 100%)));
	--dplus-bgc-ui-base-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-050)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-base-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
	
	--dplus-bgc-ui-card: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-card-alpha-modifier, 100%)));
	--dplus-bgc-ui-card-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 75%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-card-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
	
	--dplus-bgc-chatmsg: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-chat-alpha-modifier, 110%)));
	--dplus-bgc-chatmsg-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-chat-alpha-modifier, 110%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
	
	--dplus-bgc-popout: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-popout-alpha-modifier, 100%)));
	
	--dplus-bgc-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * 115%));
	--dplus-bgc-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * 115% + var(--dplus-bg-hover-alpha-modifier, 10%)));
	
	--dplus-bgc-server-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) / 3 * 2));
	--dplus-bgc-server-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) / 5 * 4));
	
	--dplus-bgc-radiobar-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * 100% + var(--dplus-bg-hover-alpha-modifier, 10%)));
	--dplus-bgc-radiobar-selected: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) * 80%));	
}

:root {
	/* Radiuses */
	--dplus-radius-ui: 10px;
	--dplus-radius-avatar: 20%;
	--dplus-radius-server: 20%;

	/* Spacing */
	--dplus-spacing-ui: 10px;
	--dplus-spacing-app: 10px;

	/* Wordmark (Windows only) */
	--dplus-wordmark: url(https://plusinsta.github.io/discord-plus/assets/wordmark_white.svg);

	/* Icons */
	--dplus-icon-home-dark: url(https://plusinsta.github.io/discord-plus/assets/discord/home_dark.svg);
	--dplus-icon-home-light: url(https://plusinsta.github.io/discord-plus/assets/discord/home_light.svg);

	/* Icon sizes*/
	--dplus-icon-avatar-chat: 64px;
	--dplus-icon-avatar-list: 32px;
	--dplus-icon-avatar-profile: 80px;
	
	--dplus-icon-server-sidebar: 48px;
	--dplus-icon-server-list: 32px;

	/* Animation lengths */
	--dplus-anim-short: .2s;
	--dplus-anim-long: .5s;
	--dplus-anim-sticky: .2s;
	--dplus-anim-button: .25s;
	--dplus-anim-button-appear: .25s;

	/* Widths */
	--dplus-channels-width: 240px;
	--dplus-members-width: 240px;
	--dplus-scrollbar-width: 10px;

	/* Scales */
	--dplus-blur-scale: 100;
}

/* Disable animations for reduce-motion */
:root.reduce-motion {
	--dplus-anim-short: 0s;
	--dplus-anim-long: 0s;
	--dplus-anim-sticky: 0s;
	--dplus-anim-button: 0s;
	--dplus-anim-button-appear: 0s;
}

/* Colors */
.theme-dark {
	/* The variable hell begins */
	--header-primary: hsl(
	0,
	0%,
	calc(var(--dplus-foreground-color-lightness-amount) * 100%)
	);
    --header-secondary: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 6),
	calc(var(--dplus-foreground-color-saturation-factor) * 3.7%),
	calc(var(--dplus-foreground-color-lightness-amount) * 73.5%)
	);
	
    --text-normal: hsl(
	var(--dplus-foreground-color-hue-base),
	calc(var(--dplus-foreground-color-saturation-factor) * 2.9%),
	calc(var(--dplus-foreground-color-lightness-amount) * 86.7%)
	);
    --text-muted: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 4),
	calc(var(--dplus-foreground-color-saturation-factor) * 4%),
	calc(var(--dplus-foreground-color-lightness-amount) * 65.3%)
	);
	
    --text-link: hsl(
	var(--dplus-foreground-color-hue-links),
	calc(var(--dplus-foreground-color-saturation-factor) * 100%),
	calc(var(--dplus-foreground-color-lightness-amount) * 47.8%)
	);
    --text-link-low-saturation: hsl(
	var(--dplus-foreground-color-hue-links),
	calc(var(--dplus-foreground-color-saturation-factor) * 100%),
	calc(var(--dplus-foreground-color-lightness-amount) * 52.9%)
	);

    --text-positive: hsl(
	139,
	calc(var(--dplus-foreground-color-saturation-factor) * 51.6%),
	calc(var(--dplus-foreground-color-lightness-amount) * 52.2%)
	);
    --text-warning: hsl(
	38,
	calc(var(--dplus-foreground-color-saturation-factor) * 95.7%),
	calc(var(--dplus-foreground-color-lightness-amount) * 54.1%)
	);
    --text-danger: hsl(
	359,
	calc(var(--dplus-foreground-color-saturation-factor) * 82%),
	calc(var(--dplus-foreground-color-lightness-amount) * 73.9%)
	);
	
    --text-brand: hsl(
	var(--dplus-accent-color-hue),
	calc(var(--dplus-foreground-color-saturation-factor) * 86.1%),
	calc(var(--dplus-foreground-color-lightness-amount) * 77.5%)
	);
	
    --interactive-normal: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 6),
	calc(var(--dplus-foreground-color-saturation-factor) * 3.7%),
	calc(var(--dplus-foreground-color-lightness-amount) * 73.5%)
	);
    --interactive-hover: hsl(
	var(--dplus-foreground-color-hue-base),
	calc(var(--dplus-foreground-color-saturation-factor) * 2.9%),
	calc(var(--dplus-foreground-color-lightness-amount) * 86.7%)
	);
    --interactive-active: hsl(
	0,
	calc(var(--dplus-foreground-color-saturation-factor) * 0%),
	calc(var(--dplus-foreground-color-lightness-amount) * 100%)
	);
    --interactive-muted: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 7),
	calc(var(--dplus-foreground-color-saturation-factor) * 7.6%),
	calc(var(--dplus-foreground-color-lightness-amount) * 33.5%)
	);
	
	--channels-default: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 13),
	calc(var(--dplus-foreground-color-saturation-factor) * 3.4%),
	calc(var(--dplus-foreground-color-lightness-amount) * 60.2%)
	);

	--channel-icon: hsl(
	calc(var(--dplus-foreground-color-hue-base) + 3),
	calc(var(--dplus-foreground-color-saturation-factor) * 4.1%),
	calc(var(--dplus-foreground-color-lightness-amount) * 57.5%)
	);	
}

/* Blur */
:root {
	--dplus-blur-ui: 2px;
	--dplus-blur-popout: 3px;
	--blurcalc-popout: blur(calc(var(--dplus-blur-popout) / 100 * var(--dplus-blur-scale)));
	--blurcalc-ui: blur(calc(var(--dplus-blur-ui) / 100 * var(--dplus-blur-scale)));
}


/* Discord's variables */
.theme-dark, .theme-light {
	--background-primary: var(--dplus-bgc-ui-base) !important;
	--background-secondary: var(--dplus-bgc-ui-card) !important;
	--background-tertiary: var(--dplus-bgc-popout) !important;
	--background-secondary-alt: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * var(--dplus-bgc-ui-card-alpha-modifier, 100%) / 5 * 4)) !important; /* bottom-left account details */
	--channelbodyarea-background: transparent !important;
	--background-floating: var(--dplus-bgc-popout) !important;
	--background-mobile-primary: var(--dplus-bgc-ui-base);
	--background-mobile-secondary: var(--dplus-bgc-ui-base);
	--radio-group-dot-foreground: white;
	--brand-color: var(--brand-experiment);
	--brand-color-hover: var(--brand-experiment);

	/* get ready for a ton of nearly identical variables. thanks discord devs */
	--brand-experiment: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.856),calc(var(--dplus-accent-color-lightness)*0.647));
	--brand-100: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.778),98.2%);
	--brand-130: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.875),96.9%);
	--brand-160: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.846),94.9%);
	--brand-200: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.833),92.9%);
	--brand-230: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.870),91%);
	--brand-260: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.862),88.6%);
	--brand-300: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.861),85.9%);
	--brand-360: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.861),77.5%);
	--brand-400: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.861),71.8%);
	--brand-430: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.857),69.8%);
	--brand-460: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.855),67.5%);
	--brand-500: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.856),64.7%);
	--brand-500-hsl: var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.856),64.7%;
	--brand-530: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.667),58.8%);
	--brand-560: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.514),52.4%);
	--brand-600: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.467),44.1%);
	--brand-630: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.467),38.2%);
	--brand-660: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.471),33.3%);
	--brand-700: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.470),25.9%);
	--brand-730: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.468),24.3%);
	--brand-760: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.469),22.2%);
	--brand-800: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.475),19.4%);
	--brand-830: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.474),14.9%);
	--brand-860: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.469),9.6%);
	--brand-900: hsl(var(--dplus-accent-color-hue),calc(var(--dplus-accent-color-saturation-factor)*0.500),3.1%);
}

.theme-dark {
	--bd-blue: var(--dplus-accent-ui) !important;
	--background-accent: var(--dplus-accent-ui);
}

      /*--- 4 Fonts ---*/

        /*-- 4.1 Display Font --*/
:root {
	--dplus-font-ui: 'Poppins';
	--dplus-font-ui-ja: 'Kosugi';
	--dplus-font-ui-ko: 'Gothic A1';
	--dplus-font-ui-ru: 'PT Sans Caption';
	--dplus-font-ui-vi: 'Raleway';
	--dplus-font-ui-el: 'Commissioner';
	--dplus-font-body: 'Roboto';
	--dplus-font-header: 'Righteous';
	--dplus-font-header-ja: 'RocknRoll One';
	--dplus-font-header-ko: 'Black Han Sans';
	--dplus-font-header-ru: 'Russo One';
	--dplus-font-header-hi: 'Palanquin Dark';
	--dplus-font-header-th: 'Mitr';
	--dplus-font-header-el: 'Alegreya Sans';

  --font-display: var(--dplus-font-ui), 'Poppins', var(--dplus-font-ui-ru), 'Comfortaa', var(--dplus-font-ui-vi), 'Raleway', var(--dplus-font-ui-ja), 'Kosugi',  var(--dplus-font-ui-ko), 'Gothic A1', var(--dplus-font-ui-el), 'Commissioner', '-apple-system', 'Helvetica Neue', 'system-ui', 'Tahoma', 'Segoe UI', 'Helvetica', 'Whitney', sans-serif !important;
	--font-primary: var(--font-display);
	--font-japanese: var(--font-display);
	--font-korean: var(--font-display);
	--font-chinese-simplified: var(--font-display);
	--font-chinese-traditional: var(--font-display);
}
body, button, select {
  font-family: var(--font-display);
}
        
        /*-- 4.2 Text Font --*/
::placeholder, ::-webkit-input-placeholder, p, bodyarea, input, select, textarea,
.message__80c10, .markup_a7e664, /*chat messages*/
.subText_ab7e13, /*member list body*/
.customStatusText-_4TbWr, /*user's custom status*/
.modeDefault-2fEh7a, /*settings small body*/
.emojiInput-1aLNse, .emojiAliasPlaceholder-3H_iZA, /*server settings: emoji name*/
.topic__16ae3, /*channel topic in chat header*/
.content_de196f, /*channel topic popup body*/
.bd-description /*BD: plugin/theme desc*/ {
	font-family: var(--dplus-font-body), 'Roboto', '-apple-system', 'Helvetica Neue', 'system-ui', 'Arial', 'Helvetica', 'Whitney', sans-serif !important;
}
        /*-- 4.3 Names, Titles, and Headers Font --*/
header, h1,
.nameAndDecorators_e34d47, /*name in member list*/
.headerNameWrapper-3res2c, /*nickname in profile popup*/
.username_d30d99, /*username in chat*/
.headerText-15Q25Z, /*username#tag in profile popup*/
.nickname-2gQ76l, /*nickname in profile popup*/
.nameTag__0e320, /*your username in the bottom-left*/
.detailsInner__06b77, /*settings: your username in My Account*/
.activityName__47e51, /*user's activity name, includes song and author titles*/
.emojiUploader-1f0pVx, /*server settings: emoji's uploader*/
.userHook-3AdCBF, /*server settings: username in audit log*/
.secondaryHeader-2oeRPO, /*server settings: integrations row headers such as bot names*/
.roleName_d19d33, /*role name in profile*/
.roleName-35qCvR, .roleName-3910zV, /*role name in server settings*/
.membersGroup__85843, /*role name in member list*/
.roleRow-3HnunM, /*role name in context menu*/
.roleMention__02469, /*role name mention in chat*/
.wrapper__2d9b1, /*username or channel name mention in chat*/
[data-slate-object="inline"] .mention, /*mention in message box*/
.systemMessage__6e6a4 .anchorUnderlineOnHover-2qPutX, /* links / usernames in system messages */
.name__590d6, /*category name in sidebar*/
.name__8d1ec, /*channel name in sidebar*/
.title__9e2b0, /*channel name in chat header*/
.title-3hptVQ, /*channel name in channel topic popup*/
.bd-author, .bd-meta .bd-link, /*BD: plugin/theme author*/
.timestamp_cdbd93 /*chat message hover timestamp (counts as a header)*/ {
	font-family: var(--dplus-font-header), 'Righteous', var(--dplus-font-header-ja), 'RocknRoll One', var(--dplus-font-header-ko), 'Black Han Sans', var(--dplus-font-header-ru), 'Russo One', var(--dplus-font-header-hi), 'Palanquin Dark', var(--dplus-font-header-th), 'Mitr', var(--dplus-font-header-el), 'Alegreya Sans', 'Lalezar', 'Century Gothic', 'Franklin Gothic Medium', 'Britannic', 'Helvetica Neue', 'Helvetica', 'Whitney', sans-serif !important;
}
        
      /*--- 5 Load/Disconnect + Crash ---*/
        
/* Loading page (disconnect error) */
.container__4bde3 { background-color: hsla(0, 0%, 0%, 0.68) }
.quote-3aooyW {
  font-size: 20px !important;
  margin-bottom: 0px !important;
  }
.status-1JTY3j, .problemsText__046e8 {
  color: white;
  text-transform: none;
  font-size: 16px !important;
}
.attribution-aTC3hS, .links_ab4aa2 {font-size: 0px !important;}
.twitterLink_dae605:before,
.statusLink__7b889:before {
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}
        
  /* Crash error */
.errorPage_da3c8d {
	width: calc(100% - var(--dplus-spacing-app) * 2)
}
.wrapper__246a1 {
	min-height: calc(100vh - var(--dplus-spacing-app) * 2)
}
.theme-dark .wrapper__246a1,
.theme-light .wrapper__246a1 {
	background: var(--dplus-bgc-ui-base);
	margin: var(--dplus-spacing-app) calc(var(--dplus-spacing-app) * 2) var(--dplus-spacing-app) var(--dplus-spacing-app);
	border-radius: var(--dplus-radius-ui);
}
.theme-dark .image_dabcb8,
.theme-light .image_dabcb8 {
	background-image: url('https://cdn.discordapp.com/attachments/560369937084973067/853659649340473414/28.webp')
}
.image_dabcb8 {
  width: 256px;
  height: 256px;
  margin-bottom: 40px;
  background-size: 256px 256px;
}
.title__73f9a, .note__35490 div p {font-size: 0px;}
.title__73f9a:after {
	font-size: 24px;
	content: "Congratulations!";
}
.note__35490 div p:first-child:after {
	font-size: 16px;
	content: "You just unlocked Discord Minus!";
	color: white;
}
.note__35490 div p:nth-child(2):after {
	font-size: 16px;
	content: "...actually, Discord just crashed. Oops."
}
        
      /*--- 7 Modals ---*/
        
    /*-- 7.1 General Modal --*/
.root_a28985 {
	background-color: var(--dplus-bgc-popout) !important;
	border-radius: var(--dplus-radius-ui) !important; 
	backdrop-filter: var(--blurcalc-popout);
}
#app-mount .footer-31IekZ {
	background-color: transparent;
	box-shadow: none;
}
iframe {
	border-radius: var(--dplus-radius-ui);
}
.modal__060da {background-color: transparent!important; box-shadow: none;}
.backdrop__7e89b, .backdropWithLayer-3_uhz4 {
	background-color: rgba(0, 0, 0, 0.6) !important;
	backdrop-filter: var(--blurcalc-ui);
}
    /*-- 7.2 Server Create/Join Modal --*/  
.theme-dark .theme-light .root_a28985 {background: var(--dplus-bgc-popout) !important;}
.theme-dark .theme-light .container-x8Y1ix {background: var(--dplus-bgc-ui-card);}
.filledIcon-2TG9HI { border-radius: var(--dplus-radius-ui); }
.container-x8Y1ix:hover {background: var(--dplus-bgc-ui-card-hover) !important;}
.header-1c1AhF {overflow: hidden;}

.optionContainer__5d0b1 {
	background-color: var(--dplus-bgc-ui-card);
}
.optionContainer__5d0b1:hover {
	background-color: var(--dplus-bgc-ui-card-hover);
}      
    /*-- 7.3 Custom Status Modal --*/
.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus, .lookFilled-1h1y05.select-1Pkeg4:focus,
.lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .lookFilled-1h1y05.selectOpen-hQuR6b {border-color: var(--dplus-accent-ui);}
    /*-- 7.4 Quick Switcher Modal --*/
#app-mount .quickswitcher_a3d29a {
	background-color: var(--dplus-bgc-popups);
	box-shadow: none;
	height: 300px;
}
.container_f03f1d {height: auto;}      
    /*-- 7.5 Keyboard Combo Modal --*/
#app-mount .keyboardShortcutsModal__74c71 {background-color: transparent;}
#app-mount .keybindShortcut-3zF1P9 span {background-color: var(--dplus-accent-ui); border-color: black;}
    /*-- 7.6 Upload Modal --*/
.uploadModal_eae2a0 { background-color: var(--dplus-bgc-ui-base) !important; }
.uploadModal_eae2a0, #app-mount .footer_ceda43 {
	border-radius: var(--dplus-radius-ui) !important;
	box-shadow: none;
}
.uploadModal_eae2a0, .uploadModal_eae2a0 .channelbodyArea-2VhZ6z {	border: 2px dashed var(--dplus-accent-ui); }
.footer_ceda43 { background-color: var(--dplus-bgc-ui-base) !important; }
    /*-- 7.7 Profile Modal --*/
.top-K_jibn .item-3XjbnG {
	border-radius: 0 !important;
}

.listRow-hutiT_ {
margin: var(--dplus-spacing-ui);
padding: var(--dplus-spacing-ui);
}
.listRow-hutiT_ .iconInactive__90d40 {
	border-radius: var(--dplus-radius-server);
	width: var(--dplus-icon-server-list);
	height: var(--dplus-icon-server-list);
}
.listAvatar-1NlAhb {
	margin-right: var(--dplus-spacing-ui);
}
.body-1Ukv50, .topSection-13QKHs {
	background-color: transparent!important;
}

.aboutMeSection---MkQa {
	background-color: transparent!important;
}

.nickname-322DbL {
	font-family: inherit!important;
}

.disabledButtonWrapper-2Oz3aY { display: none; /* Remove Spotify buttons for yourself */ }
.button__9491f { margin-top: var(--dplus-spacing-ui); }

[style="background-color: rgb(114, 137, 218);"] {
	background-color: var(--dplus-accent-ui) !important;
}
.theme-dark .path-lhsLSV,
.theme-light .path-lhsLSV {
    stroke: var(--dplus-accent-ui) !important;
}

.activity-fViXj7 {
	border-bottom: 0;
}

		/*--- 8 Popouts ---*/
		
	/*-- 8.1 General Popout --*/
	.layer-2aCOJ3 > div > div:not(.tooltipPointer-3L49xb) {
		background-color: var(--dplus-bgc-popout);
		border-radius: var(--dplus-radius-ui);
	}
	
	.popouts-2bnG9Z {
		z-index: 1000 !important;
	}
		/* Tooltips */
	.tooltip-14MtrL {
		backdrop-filter: var(--blurcalc-popout);
	}
	.tooltipContent-Nejnvh {
		padding: var(--dplus-spacing-ui);
		background-color: transparent !important;
	}
		/*-- 8.2 Pins Popout --*/
	.messagesPopoutWrap_b3b384 {
		width: calc(440px + var(--dplus-icon-avatar-chat) + var(--dplus-spacing-ui));
	}
	.header_f5cc88 { padding: var(--dplus-spacing-ui); }
	.messagesPopoutWrap_b3b384 {
		background-color: transparent !important;
		border: none !important;
		max-height: 560px !important;
		backdrop-filter: var(--blurcalc-popout);
	}
	.messageGroupWrapper_f8c6e9 {
		border-radius: var(--dplus-radius-ui);
		min-height: 70px;
		background: transparent;
	}
	.messageGroupWrapper_f8c6e9 .cozy_f5c119.wrapper__09ecc {
		padding-top: var(--dplus-spacing-ui);
		padding-bottom: var(--dplus-spacing-ui);
	}
		
	.messagesPopout__22763 .messageGroupWrapper_f8c6e9 .wrapper__09ecc {
		background-color: var(--dplus-bgc-ui-card) !important;
	}
	.messagesPopout__22763 .messageGroupWrapper_f8c6e9:hover .wrapper__09ecc {
		background-color: var(--dplus-bgc-ui-card-hover) !important;
	}
	.messagesPopoutWrap_b3b384 .messagesPopout__22763 .wrapper__09ecc {
		transition: background-color var(--dplus-anim-short);
	}
	#app-mount .message__04d9f {
		background-color: var(--dplus-bgc-chatmsg);
		border-radius: var(--dplus-radius-ui);
		border: 1px solid var(--dplus-accent-ui);
		box-shadow: none;
		padding: 0;
		min-height: 70px;
	}
		
		/*-- 8.3 Context Menu Popout --*/
	.scroller-1bVxF5, .submenuPaddingContainer-_k62dJ {
		padding: 0;
	}
	.scroller-1bVxF5::-webkit-scrollbar, .submenuPaddingContainer-_k62dJ::-webkit-scrollbar {
		width: 0 !important;
	}
	.submenuPaddingContainer-_k62dJ {margin-right: -4px;margin-left: -4px;} /* fixes the submenu being four pixels off */
	
	.labelContainer-2vJzYL {
		padding: calc(var(--dplus-spacing-ui) / 1.25) var(--dplus-spacing-ui);
	}
	
	.item-1OdjEX:not([aria-haspopup="true"]):not(#account-avatar),
	.item-1OdjEX[aria-haspopup="true"],
	.wrapper__2e846,
	.separator-1So4YB { backdrop-filter: var(--blurcalc-popout) }
	/* the context menu backdrop blur has to be applied separately for elements
	that have popups, or else the menu breaks when you hover over them */
	
	.wrapper__2e846 { padding: 0; }
	.customItem-2CxBSo .button_afdfd9 { padding: calc(var(--dplus-spacing-ui) / 2); }
	.separator-1So4YB { margin: 0; }
	
	.item-1OdjEX,
	.button_afdfd9 {
		border-radius: var(--dplus-radius-ui);
	}
	.item-1OdjEX {
		margin: 0;
		transition: background-color var(--dplus-anim-button);
	}
	
	.button_afdfd9:not(.lookBlank__7ca0a), /* non-special buttons */
	.colorDefault-CDqZdO:not(.labelContainer-2vJzYL) /* regular buttons, except context menu */ {
		background-color: var(--dplus-bgc-button);
		transition: var(--dplus-anim-button);
	}
	
	[id^="status-picker-"] /* status picker (who would've guessed?) */ {
		background-color: transparent !important;
	}
	
	.button_afdfd9:not(.lookBlank__7ca0a):hover, /* buttons hovered over */
	.button_afdfd9.focused__47631, /* focused but not hovered over */
	.colorDefault-CDqZdO:not(.labelContainer-2vJzYL).focused-3qFvc8, /* regular buttons, focused */
	.colorDefault-CDqZdO:hover:not(.labelContainer-2vJzYL):not(.hideInteraction-2jPGL_) /* regular buttons but only if clickable */ {
		background-color: var(--dplus-bgc-button-hover)!important;
		transition: var(--dplus-anim-button);
	}
	.item-1OdjEX.colorDanger-3n-KnP:hover {background-color: #f04747;}
		/*-- 8.4 Inbox --*/
	.container__20de0 {background-color: transparent;}
		/*-- 8.5 AutoComplete --*/
	.autocomplete_df266d {
		background-color: var(--dplus-bgc-popout) !important;
		border-radius: var(--dplus-radius-ui);
	}
	#app-mount .selected-3H3-RC {background-color: var(--dplus-accent-ui);}
		/*-- 8.6 Stickers/Emoji/Gif Tab --*/
	.result-3OpoO7, .wrapper__7a35f {
		background-color: transparent !important;
		border-radius: var(--dplus-radius-ui);
	}
	#app-mount .focused-q9B2e4:after, .theme-dark .result-3OpoO7:hover:after {
		box-shadow: inset 0 0 0 2px var(--dplus-accent-ui), inset 0 0 0 3px #2f3136;
	}
	.scroller_e89578::-webkit-scrollbar {
		width: calc(var(--dplus-scrollbar-width) / 2) !important;
	}
		/*-- 8.7 Profile Popout --*/
	.headerNormal-1mX3KY,
	.body-2wLx-E,
	.bodyInnerWrapper-2bQs1k {
		background-color: transparent;
	}
	.headerTop-2cWpdB {
		background-color: var(--dplus-bgc-ui-card);
	}
	.translate-PeW1wK,
	.popout-2iWAc- {
		backdrop-filter: var(--blurcalc-popout);
	}
	.userPopout-2j1gM4 {
		background-color: var(--dplus-bgc-popout);
		border-radius: var(--dplus-radius-ui);
		box-shadow: none !important;
	}
	.avatarPositionNormal__1797c {
		left: var(--dplus-spacing-ui);
	}
	.bannerSVGWrapper__3e7b0 mask {
		display: none;
	}
	.avatar-3QF_VA {
		width: calc(var(--dplus-icon-avatar-profile) * 1.5) !important;
		height: calc(var(--dplus-icon-avatar-profile) * 1.5) !important;
	}
	
	.avatarWrapper_f77579 {
		border-radius: var(--dplus-radius-avatar);
		border-width: 8px;
		border-style: solid;
		border-color: transparent;
		background-color: transparent;
	}
	
	.avatarWrapper_f77579:before, .avatar-3QF_VA:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		right: -8px;
		top: -8px;
		border-width: 8px;
		border-style: solid;
		border-color: transparent;
		background-color: var(--dplus-bgc-popout);
		border-radius: calc(var(--dplus-radius-avatar) + 5px);
		clip: rect(auto,auto,68px,auto);
	}
	
	/* WIP: A nice background behind status icons, similar to vanilla Discord, but this one respects your background color and roundness preferences. Currently commented out because I can't get the status icon in front of the background.
	
	.wrapper-1VLyxH svg foreignObject:after {
		content: "";
		position: absolute;
		width: 4px;
		height: 4px;
		right: 0px;
		bottom: 0px;
		border-width: 8px;
		border-style: solid;
		border-color: transparent;
		background-color: var(--dplus-bgc-popout);
		border-radius: calc(var(--dplus-radius-avatar) * 2) 0 50% 0;
		backdrop-filter: var(--blurcalc-popout);
		z-index: 1;
	}
	
	.avatarWrapper_f77579 svg foreignObject rect {
		z-index: 2;
	}
	*/
	
	/* this link doesn't do much other than take up space */
	.setIdentityLink-hOFsMl {
		display: none;
	}
	
	.customStatus-3XAoF9 {
		padding-top: var(--dplus-spacing-ui)
	}
	
	.avatarWrapper_f77579:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: var(--dplus-bgc-ui-card);
		backdrop-filter: var(--blurcalc-ui);
		border-radius: var(--dplus-radius-avatar);
		clip: rect(auto,auto,44px,auto);
	}
	
	.avatar-2Vndt_ {
		border-width: 6px;
		border-style: solid;
		border-color: transparent;
		border-radius: var(--dplus-radius-ui);
		background-color: transparent;
	}
	
	.userPopout-2j1gM4 .wrapper-1VLyxH:not(.baseAvatar__339f8),
	.container_b03b4b .wrapper-1VLyxH,
	.avatarUploaderInner__6451c,
	.avatarHint__8e5b9 {
		width: var(--dplus-icon-avatar-profile) !important;
		height: var(--dplus-icon-avatar-profile) !important;
	}
	
	.assetsLargeImage_b88a59 {
		border-radius: var(--dplus-radius-ui);
	}
		/* Roles */
	.role__631a3 {
		border-radius: var(--dplus-radius-ui);
		position: relative;
		overflow: hidden;
	}
	
			/*-- 10.2 Home Icon --*/
#app-mount .scroller__3d071 {padding-top: var(--dplus-spacing-ui);}
.tutorialContainer__890ea .childWrapper__01b9c svg {display: none !important;}
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c, .childWrapper__01b9c {
	background-color: transparent;
}
.theme-dark .tutorialContainer__890ea .childWrapper__01b9c,
.theme-light .theme-dark .tutorialContainer__890ea .childWrapper__01b9c,
.theme-light .tutorialContainer__890ea .childWrapper__01b9c {
	background-image: var(--dplus-icon-home-dark);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.theme-light .tutorialContainer__890ea .childWrapper__01b9c {background-image: var(--dplus-icon-home-light);}

	
/* Switches, Checkboxes, Buttons */
button, [type="button"] {
border-radius: var(--dplus-radius-ui) !important;
}
button,
[type="button"] {
transition: var(--dplus-anim-button) !important;
}

.container-2nx-BQ svg path, svg.bd-switch-symbol {display:none;}
.container-2nx-BQ, .bd-switch-checked .bd-switch-body {background-color: var(--dplus-accent-ui) !important;}

.container-2nx-BQ[style*="218"] {
	background-color: hsl(218, calc(var(--dplus-foreground-color-saturation-factor) * 4.6%), 46.9%) !important;
}

.container-2nx-BQ[style*="rgb(114, 118, 125)"] {
	background-color: rgb(114, 118, 125) !important;
}

/* Server settings */
.avatarUploaderInner-Oiob_P {border-radius: var(--dplus-radius-avatar)!important;}
.avatarUploader-2yeaMv .avatarUploaderInnerSquare-2UOXj4, .avatarUploaderDisabled-310UAf .avatarUploaderInnerSquare-2UOXj4 {
background-size: contain!important;
}
.fieldList_aab0de {
background-color: transparent!important;
}
.scroller__52680, #app-mount .headerClickable-2IVFo9, #app-mount .headerDefault-1wrJcN {background: transparent!important;}
.select__55f87 .Select-menu-outer, #app-mount .auditLog-3jNbM6 {
background: var(--dplus-bg-dark-3) !important;
border-color: var(--dplus-accent-ui) !important;
border-radius: var(--dplus-radius-ui) !important;
}

.item-3XjbnG,
.item-3XjbnG .background__584e7,
.input-2g-os5,
.copyInput_c1c679,
.Select .Select-control,
.Select.is-open .Select-control {
border-radius: var(--dplus-radius-ui) !important;
}

#app-mount .colorPickerCustom-1swUKF {
background: transparent!important;
border-color: var(--dplus-accent-ui)!important; border-radius: var(--dplus-radius-ui)!important;
}

/* Accessibility / a11y */
	/* Font sizes */
html[style^="font-size: 75%;"] { --chat-font-scaling: 0.75; }
html[style^="font-size: 87.5%;"] { --chat-font-scaling: 0.875; }
html[style^="font-size: 93.75%;"] { --chat-font-scaling: 0.9375; }
.a11y-font-scaled-down .cozy_f5c119.wrapper__09ecc {
	padding-left: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling) + var(--dplus-spacing-ui) * 2)!important;
}
.a11y-font-scaled-down .cozy_f5c119.wrapper__09ecc .avatar__08316 {
	width: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling)) !important;
	height: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling)) !important;
}

      /*--- 15 Client mod specific ---*/

          /*-- 15.1 BetterDiscord --*/	
      /*- 15.1.1 Addon lists -*/
.bd-addon-list.bd-grid-view {
  column-gap: var(--dplus-spacing-ui);
  row-gap: var(--dplus-spacing-ui);
}
.bd-addon-list .bd-addon-card {
	background: var(--dplus-bgc-ui-card);
	border: none; border-radius: var(--dplus-radius-ui) !important;
	max-height: 100%;
	padding: var(--dplus-spacing-ui);
	margin-bottom: var(--dplus-spacing-ui);
}
.bd-addon-list .bd-addon-header,
.bd-description-wrap,
.bd-addon-list .bd-footer {
	padding: var(--dplus-spacing-ui);
}

.bd-addon-list .bd-addon-header {
	border-radius: var(--dplus-radius-ui);
}

.bd-select .bd-select-options {background: var(--dplus-bg-2); backdrop-filter: var(--blurcalc-popout);}
.bd-select-transparent .bd-select-options { border-radius: var(--dplus-radius-ui) !important; border-color: var(--dplus-bg-1);}
.bd-search-wrapper, .bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected { background: var(--dplus-bg-1);}
.bda-slist .bda-header {
	font-size: 14px;
	line-height: 1.25;
	padding-bottom: 5px;
}
.bda-slist .bda-description {
	max-height: 100%;
	overflow-y: hidden;
	padding: 0;
	padding-bottom: 2px;
}
.bda-slist .bda-footer, .bda-slist .bda-header {border: none;}
.bda-name, .bda-author {
	font-size: 16px;
}
.bda-author {
	color: var(--dplus-accent-ui);
}
.bda-links {
	font-size: 0;
}
.bda-links .bda-link {
	font-size: 12px;
}
.bda-link:not(:first-of-type) {
	margin-left: 10px;
}
.theme-dark .bda-slist .bda-header, .theme-dark .bda-slist .bda-description  { color: white; }

      /*- 15.1.1 Toast Notifications -*/
.toast, .bd-toast {
    background: var(--dplus-bg-3)!important;
    border: 2px solid var(--dplus-accent-ui)!important;
    border-radius: var(--dplus-radius-ui)!important;
    color: var(--dplus-accent-ui)!important;
    box-shadow: none!important;
}
